pkgbase = viber
	pkgdesc = Proprietary cross-platform IM and VoIP software
	pkgver = 27.0.0.1
	pkgrel = 1
	url = https://www.viber.com
	arch = x86_64
	license = custom
	depends = libxss
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = libxss
	depends = openssl
	depends = libpulse
	depends = alsa-lib
	depends = nss
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gst-plugins-bad
	depends = gst-libav
	depends = libxslt
	depends = openssl-1.1
	depends = snappy
	depends = libjpeg
	depends = numactl
	depends = libxml2-legacy
	options = !strip
	source = viber-27.0.0.1.deb::https://download.cdn.viber.com/cdn/desktop/Linux/viber.deb
	sha256sums = 15dcf07959270999a8015c4ffdb933f4a7f095fbccf23880a86a3ce7dc622390

pkgname = viber
