pkgbase = viber
	pkgdesc = Proprietary cross-platform IM and VoIP software
	pkgver = 24.9.0.3
	pkgrel = 1
	url = https://www.viber.com
	arch = x86_64
	license = custom
	depends = libxss
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = libxss
	depends = openssl
	depends = libpulse
	depends = alsa-lib
	depends = nss
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gst-plugins-bad
	depends = gst-libav
	depends = libxslt
	depends = openssl-1.1
	depends = snappy
	depends = libjpeg
	depends = numactl
	depends = libxml2-legacy
	options = !strip
	source = viber-24.9.0.3.deb::https://download.cdn.viber.com/cdn/desktop/Linux/viber.deb
	sha256sums = 8bb7c6f12765fefe500324ec0a1e8e29ee010d89d0d2304981276a30eae42cda

pkgname = viber
