pkgbase = viber
	pkgdesc = Free and secure calls and messages to anyone, anywhere, on any device and network, in any country!
	pkgver = 27.3.0.2
	pkgrel = 5
	url = https://www.viber.com
	arch = x86_64
	license = LicenseRef-Viber-TOS
	depends = libxml2-legacy
	depends = libxslt
	depends = libxss
	depends = qt6-multimedia
	optdepends = qt6-multimedia-ffmpeg: For issues with gstreamer backend
	optdepends = qt6-multimedia-gstreamer: For issues with ffmpeg backend
	optdepends = gst-plugins-bad: For camera and playback issues with gstreamer backend
	optdepends = gst-plugins-ugly: For camera and playback issues with gstreamer backend
	optdepends = jack2: For audio issues with pipewire-jack
	optdepends = pipewire-jack: For audio issues with jack2
	optdepends = pavucontrol: Manage audio devices and sound volume
	optdepends = pipewire-pulse: pavucontrol needs this
	optdepends = nvidia-utils: Provides VDPAU backend libvdpau_nvidia.so
	optdepends = epiphany: For external links and media
	optdepends = firefox: For external links and media
	optdepends = konqueror: For external links and media
	optdepends = gnome-shell-extension-appindicator: To show tray icon in GNOME
	conflicts = viber
	options = !debug
	options = !strip
	source = viber-27.3.0.2-5.deb::https://download.cdn.viber.com/cdn/desktop/Linux/viber.deb
	source = viber.sh.in
	source = https://www.viber.com/app/uploads/Viber-Terms-of-Service-EN-March-2026.pdf
	b2sums = 12dc832a8ae7934b1bcb7d0d9ea702159dbaf1f1f4b91ddf00920a01ca8c34cd7d522e7b824c60413cdb97003b929ade91e7aa47feef7804497b140ae4a25d5f
	b2sums = 9ea86d0ccf308c5b14ff7096f4324d835603455e45befbab5c48eb055155f3dae18049906d580660d7c46423617931815846f4f3a43ddad3850687911da851ac
	b2sums = 7a935c23873efaf903fa686c74a5a9ade31c29c8dee54f4d8f98742ffd3624ff203bd681b7ae525b2118e74680edf471b9ac14ac6cd2b2f07b13dc5960600c92

pkgname = viber
